<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="content">
    <input type="text" placeholder="pregunta">
    <br>
    <br>
    <button>Enviar pregunta</button>
    <br>
    <br>
    <input type="text" placeholder="respuesta" readonly>
    </div>
  </div>
</ion-content>
